.sideNavWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 3.5vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #1e1e3e;

    .navLink{
        text-align: center;
        display: block;
        font-size: 12px;
        width: 2.5vw;
        height: 2.5vw;
        cursor: pointer;
        border-radius: 2.5vw;
        color: transparent;

        &.hero{background-color: #b9fff1;}
        &.about{background-color: #fafada;}
        &.projects{background-color: #ffdab9;}
    }
}

@media only screen and (max-width: 720px) {
    .sideNavWrapper{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 3.5vh;
        top: 96.5vh;
    }
}

.heroWrapper{
    background: #0e0e1e;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 200ms;
    
    .logoWrapper{
        background: initial;

        .title{
            font-family: 'Unica One', sans-serif;
            font-size: 20vw;
            padding: 12px 24px;
            text-align: center;
            font-weight: bold;
            border: 2px solid transparent;
        }
        .tag{
            font-size: 1.6rem;  
            background: initial;
            padding: 12px 24px;
            //border: 2px solid #0e0e1e;
            text-align: center;
            margin-top: -10px;
        }
    }
    .textWrapper{
        margin: 0 auto;
        border-radius: 8px;
        padding: 4px 6px;
        min-width: 60vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        span{
            font-family: 'Archivo', sans-serif;
            font-size: 1.2rem;
        }
    }
    .navigationWrapper{
        position: sticky;
        top: 16px;
        background-color: #0e0e1e;
        width: 720px;
        max-width: 80%;
        border-radius: 8px;
        padding: 6px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .navLink{
            color: #ffdab9;
            font-size: 1.2vw;
            font-family: 'Archivo', sans-serif;

            &:hover{
                color: #b9fff1;
                font-weight: bold;
            }
        }
    }

    *{
        transition: 600ms;
    }

    &:hover{
        background-position: 100%, 100%;
        height: 75vh;
    }
}

.aboutWrapper{
    min-height: 70vh;
    padding: 6rem 0rem;
    transition: 200ms;

    .aboutCard{
        width: 720px;
        max-width: 80%;        
        background: #acacdc;
        box-shadow: 6px 9px 12px #2e2e1e44;
        padding: 2rem 1rem;
        border-radius: 8px;

        .aboutTitle{
            font-size: 2.4rem;  
        }
        .aboutText{
            font-size: 1.4rem;
        }
    }
}

.projectsWrapper{
    min-height: 70vh;
    padding: 6rem 0rem;
    display: flex;
    transition: 200ms;

    .projectsList{
        list-style-type: none;

        a{
            text-decoration: none;
        }

        li{
            border-bottom: 2px solid #fafada;
            margin: 0 0 1.6rem 0;

            .itemName{
                font-size: 2rem;
                width: max-content;
                display: inline-block;
            }
            .timeFrame{
                font-size: 1.2rem;
                padding: 0.2rem 0 0.4rem 0;
            }
        }
    }

}

.servicesWrapper{
    min-height: 70vh;
    padding: 6rem 0rem;
    transition: 200ms;

    .card{
        backdrop-filter: saturate(200%) contrast(160%);
        min-height: 40vh;
        padding: 2rem;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 200ms;

        p{
            font-size: 1.2rem;
        }
        .img{
            content: "";
            display: block;
            margin: 1rem 0;
            height: 32vh;
            background-size: cover;
            background-position: center;
            background-blend-mode: luminosity;
        }
    }
}

.outroWrapper{
    
    a{
        background-color: #ffdab9;
        font-size: 1rem;
        padding: 1rem 2rem 1rem 1rem;
        margin: 0 1rem 0 0;
        text-align: left;
        color: #0e0e1e;
        text-decoration: none;
        font-weight: bold;
        border-radius: 0.4rem;

        &:hover{
            color: #3e3e5e;
        }
    }
}

@media only screen and (max-width: 720px){
    .textWrapper{
        flex-direction: column;

        span{
            padding: 1rem 0;
        }
    }
    .projectsWrapper{
        .projectsCard{
            .projectsBento{
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 16px;
                column-gap: 16px;
                .projectWrapper{
                    aspect-ratio: 1;
                    &:nth-child(3n){
                        .projectImg{
                            aspect-ratio: 1;
                            object-fit: cover;
                            object-position: 0%;
                        }
                        grid-column: span 1;
                        aspect-ratio: 1;
                    }
                }
            }
        }
    }
}
